<div class="body">

  <nav class="navbar bg-body-tertiary" style="height: 60px;">
    <div class="container-fluid d-flex align-items-center justify-content-start">
  
      <a class="navbar-brand" style="margin-top: -0.5%;" href="index.html">
        <img src="../assets/logo sb 10 final 1 (1).png" alt="Logo" width="120" height="45" style="margin-left: 10%;" class="d-inline-block align-text-top"> </a>
  
      <div style=" margin-left: 60%; margin-top: -0.5%;">
          <button type="button" class="btn btn-outline-warning mx-2" (click)="go_test()" >Test For Free!</button>
          <button type="button" class="btn btn-outline-warning mx-2" (click)="go_signup()">Sign UP</button>
          <button type="button" class="btn btn-outline-warning mx-2" (click)="go_signin()">Sign IN</button>
      </div>
  
    </div>
  </nav>
  
 
<div class="conteneur">
  <b style="color: #fd7442; justify-content: center; display: flex;"><h3>About US!</h3></b>

<table>

 <tr>
    <th> 
      <h1 style=" color: #fd7442;  margin-top: 10%;">Deep Fake Detection</h1> <br>
        <p style="color: white; margin-top: 0%; margin-right: 3%;" >Welcome to <b>IEEE CS ENETCOM SBC</b>, where we passionately embrace the spirit of "Advancing Technology for Humanity." At the core of our mission is a commitment to harnessing the power of artificial intelligence to tackle the rising challenges posed by digital manipulation, specifically focusing on detecting shallowfakes and deepfakes. Our team of dedicated experts merges cutting-edge technology with a profound sense of responsibility to empower individuals, businesses, and communities against the threats of misinformation and manipulated media. With a relentless pursuit of innovation, we strive to create a safer online environment, fostering trust and authenticity. Join us on this transformative journey as we leverage AI for the betterment of society, ensuring that technology becomes a force for good, protecting the integrity of information in the digital age.</p>
    </th>

    <th> <img src="../assets/1693907050718.png" alt="" style=" margin-top: 30%; height: 150%; "> </th>

  </tr>

</table>

</div>
</div>