<div class="body">

    <nav class="navbar bg-body-tertiary" style="height: 60px;">
      <div class="container-fluid d-flex align-items-center justify-content-start">
    
        <a class="navbar-brand" style="margin-top: -0.5%;" href="index.html">
          <img src="../assets/logo sb 10 final 1 (1).png" alt="Logo" width="120" height="45" style="margin-left: 10%;" class="d-inline-block align-text-top"> </a>
    
        <div style=" margin-left: 60%; margin-top: -0.5%;">
            <button type="button" class="btn btn-outline-warning mx-2" (click)="go_signup()">Sign UP</button>
            <button type="button" class="btn btn-outline-warning mx-2" (click)="go_signin()">Sign IN</button>
        </div>
    
      </div>
    </nav>
  
    <h2 style=" color: #fd7442; display: flex; justify-content: center; margin-top: 1%; margin-bottom: 0%;">Let's Test Our Product!</h2>


  <div class="cont">
    <div class="form-container">
        <div class="logo-container">
            <img src="../assets/logo sb 10 final 1 (1).png" alt="IEEE ENET'COM SB" class="logo"> 
        </div>
        <br>
        <form>
            <div class="mb-3">
                <label for="Username" class="form-label"><b>Upload Your Image (Limited Size!)</b></label> <br><br>
                <input type="file" name="" id="">       
            </div>
            <!-- <div class="  mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Mot de passe</b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Veuillez saisir votre mot de passe">
            </div> <br> -->
<br>
                <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
  </div>  
    
  </div>
  