<div class="body">

    <nav class="navbar bg-body-tertiary" style="height: 60px;">
      <div class="container-fluid d-flex align-items-center justify-content-start">
    
        <a class="navbar-brand" style="margin-top: -0.5%;" href="index.html">
          <img src="../assets/logo sb 10 final 1 (1).png" alt="Logo" width="120" height="45" style="margin-left: 10%;" class="d-inline-block align-text-top"> </a>
    
        <div style=" margin-left: 60%; margin-top: -0.5%;">
            <button type="button" class="btn btn-outline-warning mx-2" (click)="go_home()"  >Return To Home</button>
        </div>
    
      </div>
    </nav>

  <div class="cont">
    <div class="form-container">
        <div class="logo-container">
            <img src="../assets/logo sb 10 final 1 (1).png" alt="IEEE ENET'COM SB" class="logo">
        </div>
        <form>
            <div class="mb-3">
                <label for="Username" class="form-label"><b>E-mail</b></label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your E-mail address" >
            </div>
            <div class="  mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
                <input type="password" class="form-control" id="mdp" placeholder="Enter your password">
            </div> <br>

                <button type="submit" class="btn btn-primary" (click)="go_premium()" >Submit</button>

        </form>
    </div>
  </div>  
    
</div>
