<div class="body">

    <nav class="navbar bg-body-tertiary" style="height: 60px;">
      <div class="container-fluid d-flex align-items-center justify-content-start">
    
        <a class="navbar-brand" style="margin-top: -0.5%;" href="index.html">
          <img src="../assets/logo sb 10 final 1 (1).png" alt="Logo" width="120" height="45" style="margin-left: 10%;" class="d-inline-block align-text-top"> </a>
    
      </div>
    </nav>
  
  <div class="cont">
    <div class="form-container">
  
        <div class="logo-container">
            <img src="../assets/logo sb 10 final 1 (1).png" alt="IEEE ENET'COM SB" class="logo">
        </div>
  
        <form>
  
          <div class="mb-3">
            <label for="Username" class="form-label"><b>Card Number</b></label>
            <input type="text" class="form-control" id="cardnum" aria-describedby="emailHelp" placeholder="**** **** **** ****" >
          </div>
  
          <div class="mb-3">
            <label for="Username" class="form-label"><b>Valid Until (MM/YYYY)</b></label>
            <input type="text" class="form-control" id="valid" aria-describedby="emailHelp" placeholder="Valid Until (MM/YYYY)" >
          </div>
  
          <div class="mb-3">
            <label for="Username" class="form-label"><b>CVV2/CVC2</b></label>
            <input type="text" class="form-control" id="cv" aria-describedby="emailHelp" placeholder="Enter the CVV2/CVC2 of your card" >
          </div>
  
          <div class="mb-3">
             <label for="Username" class="form-label"><b>The Regulator Name</b></label>
             <input type="text" class="form-control" id="name"  placeholder="The Regulator Name" >
          </div>
  
          <div class="  mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>E-mail</b></label>
                <input type="email" class="form-control" id="mail" placeholder="Enter your E-mail">
          </div>
  
          <div class="form-check">
            <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
            <label class="form-check-label" for="flexCheckDefault">
              Pay and let's start !</label>
          </div>
  <br>
                <button type="submit" class="btn bttn btn-primary" (click)="gohome()" >Pay XXXX TND</button>
        </form>
    </div>
  </div>  
    
  </div>
  